name: Environment Test2

on:
  workflow_dispatch:

jobs:
  get_env:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.getenv.outputs.envname }}
    steps:       
      - name: get the envname
        id: getenv
        run: |
         par_env='prd'
         echo "::set-output name=envname::${par_env}"
         
  environment_qa:
    runs-on: ubuntu-latest
    needs: get_env
    
    if:  ${{ needs.get_env.outputs.output1 == 'qa'}}        
    environment: phoenix_${{ needs.get_env.outputs.output1 }}
    steps:
      - name: print aks cluster
        env:
          AKS_CLUSTER: ${{ secrets.AKS_CLUSTER }}
        run: |
            if [[ "${AKS_CLUSTER}" = "akstest0" ]]; then
              echo "The aks cluster is qa aks "$AKS_CLUSTER
            else
              echo "Please check qa aks cluster." 
            fi
  
  environment_prd:
    runs-on: ubuntu-latest
    needs: get_env
    
    if:  ${{ needs.get_env.outputs.output1 == 'prd'}}
    environment: phoenix_${{ needs.get_env.outputs.output1 }}     
    steps:
      - name: print aks cluster ${{ needs.get_env.outputs.output1 }}
        env:
          AKS_CLUSTER: ${{ secrets.AKS_CLUSTER }}
        run: |
            if [[ "${AKS_CLUSTER}" = "aksprd0" ]]; then
              echo "The aks cluster is prd aks "$AKS_CLUSTER
              test = 'QA'
              test = $(echo $test | tr '[a-z]' '[A-Z]')
              echo "$test"
            else
              echo "Please check prd aks cluster." 
            fi    
