name: Environment Test2

on:
  workflow_dispatch:

jobs:
  get_env:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.getenv.outputs.envname }}
    steps:       
      - name: get the envname
        id: getenv
        run: |
         par_env='phoenix_qa'
         echo "::set-output name=envname::${par_env}"
         
  environment_qa:
    runs-on: ubuntu-latest
    needs: get_env
    env: 
      test: 'qa'
    if:  ${{ needs.get_env.outputs.output1 == 'phoenix_qa'}}
    #environment: phoenix_${test}         
    environment: ${{ needs.get_env.outputs.output1 }}
    steps:
      - name: print aks cluster
        env:
          AKS_CLUSTER: ${{ secrets.AKS_CLUSTER }}
        run: |
            if [[ "${AKS_CLUSTER}" = "akstest0" ]]; then
              echo "The aks cluster is qa aks "$AKS_CLUSTER
              echo "==========$test"
            else
              echo "Please check qa aks cluster." 
              echo "==========$test"
            fi
  
  environment_prd:
    runs-on: ubuntu-latest
    needs: get_env
    if:  ${{ needs.get_env.outputs.output1 == 'phoenix_prd'}}
    environment: phoenix_prd     
    steps:
      - name: print aks cluster
        env:
          AKS_CLUSTER: ${{ secrets.AKS_CLUSTER }}
        run: |
            if [[ "${AKS_CLUSTER}" = "aksprd0" ]]; then
              echo "The aks cluster is prd aks "$AKS_CLUSTER
            else
              echo "Please check prd aks cluster." 
            fi    
