name: Example

on: workflow_dispatch

env:
  WORKFLOW_VARIABLE: WORKFLOW

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      JOB_VARIABLE: JOB
    steps:
      - name: phoenix_test
        run: |
            set -e
            if [[ "qa1" = "qa" ]]; then
              echo "test"
            else
              echo "not same."  
            fi
      - name: Run Commands with various variables
        if: ${{ env.WORKFLOW_VARIABLE == 'WORKFLOW_PHOENIX' }}
        env:
          STEP_VARIABLE: STEP
          WORKFLOW_VARIABLE: ${{env.WORKFLOW_VARIABLE}}_PHOENIX
        run: |
          echo "Hello World"
          echo "This is the $WORKFLOW_VARIABLE environment variable"
          echo "This is the $JOB_VARIABLE environment variable"
          echo "This is the $STEP_VARIABLE environment variable"
          #echo "This is the $STEP_WORKFLOW_VARIABLE environment variable"
