name: Do anything after the release of the first workflow

on:
  workflow_run:
    workflows: ["phoenix2"]
    types:
      - completed
jobs:
  print-username:
    runs-on: ubuntu-latest

    steps:
      - name: test
        run: echo The username is phoenix3
