name: Deployment

on:
  workflow_dispatch:
    inputs:
      test_password:
        description: 'test_password'
        required: true
#on:
#  push:
#    branches:
#      - main

jobs:
  deployment:
    runs-on: ubuntu-latest
    environment: phoenix_prd
    steps:
      - name: deploy
        # ...deployment-specific steps
      - if: ${{ github.event.inputs.test_password == 'qa' }}
        run: echo "just a test from qa"
        
      - if: ${{ github.event.inputs.test_password == 'prd' }}
        run: echo "just a test from prd"
        
        
